{% extends "../base.html" %}
{% load static i18n %}

{% block content %}
    <div>Hedgefund Page</div>
    <div class="container">
        <div class="d-flex justify-content-end">
            <a class="btn btn-success" href="#">Enroll Hedgefund</a>
        </div>
        <table class="table">
            <thead>
            <td>헤지펀드명</td>
            </thead>
            <tbody>
            {% for hedgefund in hedgefunds %}
                <tr>
                    <td>{{ hedgefund.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
