{% extends "../base.html" %}
{% load static i18n %}
{% load humanize %}

{% block content %}
    <div class="h3 text-center">{{ hedgefund }} : {{ profit_and_loss|intcomma }}</div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="text-center">{{ years }}년 {{ period }}분기</div>
            <table class="table">
                <thead class="text-center">
                <td>종목명</td>
                <td>title of class</td>
                <td>cusip</td>
                <td>보유수량</td>
                <td>가치(x$1000)</td>
                <td>변동</td>
                </thead>
                <tbody class="text-center">
                {% for data in current %}
                    <tr>
                        {% for source in data %}
                            {% if source == 'NEW' %}
                                <td class="bg-success">{{ source }}</td>
                            {% elif source|slice:":3" == "BUY" %}
                                <td style="background-color:#a6edc3">{{ source }}</td>
                            {% elif source|slice:":4" == "SELL" %}
                                <td style="background-color:#f7dcf7">{{ source }}</td>
                            {% else %}
                                <td>{{ source }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                <td class="bg-primary text-white">total_val</td>
                <td colspan="5">{{ total_val|intcomma }}</td>
                </tbody>
            </table>
        </div>
        {% if previous_data %}
            <div class="col-12 col-md-6">
                <div class="text-center">{{ previous_year }}년 {{ previous_period }}분기</div>
                <table class="table">
                    <thead class="text-center">
                    <td>종목명</td>
                    <td>title of class</td>
                    <td>cusip</td>
                    <td>보유수량</td>
                    <td>가치(x$1000)</td>
                    <td>변동</td>
                    </thead>
                    <tbody class="text-center">
                    {% for pre_data in previous_data %}
                        <tr>
                            {% for source in pre_data %}
                                <td>{{ source }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    <td class="bg-primary text-white">previous_val</td>
                    <td colspan="5">{{ previous_val|intcomma }}</td>
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <div class="h1">NO DATA</div>
            </div>
        {% endif %}
    </div>
{% endblock %}
