{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <div class="container">
        <div class="h1 my-5">Dittofund Index Page</div>
        <div class="h1">디토펀드란?</div>
        <div class="h5">
            <p>- Ditto는 우리에게 메타몽 이라는 이름으로 알려진 포켓몬입니다. 남의 모습을 복사하는 능력을 갖고 있죠.</p>
            <p>- Fund는 우리가 잘 아는 투자상품의 펀드도 있지만 여기서는 헤지펀드를 말합니다.</p>
        </div>
        <div class="h3">
            미국은 분기별로 헤지펀드의 포트폴리오를 정부에 공개해야 하는 법을 시행하고 있습니다.
        </div>
        <div class="h5">
            <p>- 이 말은 실시간은 아니지만 분기별로는 모든 헤지펀드들의 포트폴리오의 변동을 파악할 수 있다는 말이죠.</p>
            <p>- 만약 우리가 워렌 버핏의 포트폴리오를 따라할 수 있다면, 버핏만큼은 아니겠지만 그래도 어느 정도는 버핏과 유사한 형태의 이익을 얻을 수 있겠죠?</p>
            <p>- Dittofund는 그런 유형의 투자를 할 때 참고자료를 제공해주는 서비스입니다.</p>
        </div>
    </div>
{% endblock %}
